.custom_primary {
    background-color: #1B3358;
}

.custom_secondary {
    background-color: #473E66;
}

.custom_light {
    background-color: #F5D7DB;
}

.alert-error {
    background-color: #f0dd4e;
}